<!-- 定义名为"html"的模板片段。
    如果不替换标签只是引入内容，用template标签来组织内容；
    如果有参数，标签模板名"html"后用()括起来，用逗号分隔；
-->
<template th:fragment="html(page_title)">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- 加载模板参数 -->
    <title th:text="${page_title}"></title>

    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <link href="css/back/style.css" rel="stylesheet">
    <!--vue-->
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <!--vue中的ajax-->
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <!--日期类库-->
    <script src="js/moment/2.22.2/moment.js"></script>

    <!--自定义js-->
    <script>
        function checkEmpty(name,value){
            if(value==null || value.length==0){
                alert(name+ "不能为空");
                return false;
            }
            return true;
        }

        function checkNumber(name,value){
            if(value==null || value.length==0){
                alert(name+ "不能为空");
                return false;
            }
            if(isNaN(value)){
                alert(name+ "必须是数字");
                return false;
            }
            return true;
        }

        function checkInt(name,value){
            if(value==null || value.length==0){
                alert(name+ "不能为空");
                return false;
            }
            if(parseInt(value)!=value){
                alert(name+ "必须是整数");
                return false;
            }
            return true;
        }

        function checkDeleteLink() {
            var confirmDelete = confirm("确认要删除");
            if(confirmDelete)
                return true;
            return false;
        }

        //分页组件，跳转到指定页
        function gotoPage(page, vue){
            if(!isNaN(page)){
                vue.list(page);
            }else if(page == 'first' && !vue.pagination.first){
                vue.list(0);
            }else if(page == 'previous' && vue.pagination.hasPrevious){
                vue.list(vue.pagination.number-1);
            }else if(page == 'next' && vue.pagination.hasNext){
                vue.list(vue.pagination.number+1);
            }else if(page == 'last' && !vue.pagination.last){
                vue.list(vue.pagination.totalPages-1);
            }
        }

        //获取地址栏参数的函数
        function getUrlParms(para){
            var search=location.search; //页面URL的查询部分字符串
            var arrPara=new Array(); //参数数组。数组单项为包含参数名和参数值的字符串，如“para=value”
            var arrVal=new Array(); //参数值数组。用于存储查找到的参数值
            if(search!=""){
                var index=0;
                search=search.substr(1); //去除开头的“?”
                arrPara=search.split("&");
                for(i in arrPara){
                    var paraPre=para+"="; //参数前缀。即参数名+“=”，如“para=”
                    if(arrPara[i].indexOf(paraPre)==0&& paraPre.length<arrPara[i].length){
                        arrVal[index]=decodeURI(arrPara[i].substr(paraPre.length)); //顺带URI解码避免出现乱码
                        index++;
                    }
                }
            }
            if(arrVal.length==1){
                return arrVal[0];
            }else if(arrVal.length==0){
                return null;
            }else{
                return arrVal;
            }
        }

        //检查 axios 请求错误类型
        function check_error_type(error) {
            if(error && error.response){
                switch(error.response.status){
                    case 401:
                        error.message = '未授权，请重新登录';
                        break;
                    case 403:
                        error.message = '拒绝访问';
                        break;
                    case 404:
                        error.message = '请求错误，未找到该资源';
                        break;
                    case 408:
                        error.message = '请求超时';
                        break;
                    case 415:
                        error.message = '不支持的媒体类型';
                        break;
                    case 500:
                        error.message = '内部服务错误';
                        break;
                }
                alert(error.message);
            }
        }

    </script>
</template>