<!-- 定义名为"html"的模板片段 -->
<div class="navitagorDiv" th:fragment="html">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
        <img style="margin-left:10px;margin-right:0px" class="pull-left" th:src="@{/img/site/tmallbuy.png}" height="45px">
        <a class="navbar-brand" th:href="@{/admin}">天猫后台</a>
        <a class="navbar-brand" th:href="@{/admin/category}">分类管理</a>
        <a class="navbar-brand" th:href="@{/admin/user}">用户管理</a>
        <a class="navbar-brand" th:href="@{/admin/orders}">订单管理</a>
    </nav>
</div>