<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:include="include/admin/adminHeader::html('编辑属性')"></head>
<body>

<div th:replace="include/admin/adminNavigator::html"></div>

<script>
    $(function(){
        var data4Vue = {
            ctx: ctx, //header中上下文
            category: {},//所属分类
            uri: ctx + 'properties',
            redirect_uri: ctx + 'admin/property',
            bean: { id: 0, name: '', category:{id:0}}
        };

        var vm = new Vue({
            el:'#workingArea',
            data: data4Vue,
            mounted:function(){
                this.bean.id = getUrlParms("id");
                this.getOne();
            },
            methods:{
                getOne:function(){
                    var id = getUrlParms("id");
                    var url = this.uri + "/" + this.bean.id;
                    axios.get(url).then(function(response){
                        vm.category = response.data.category;
                        vm.bean = response.data;
                    }).catch(function (error){
                        check_error_type(error);
                    });
                },
                updateOne:function(){
                    var url = this.uri + "/" + this.bean.id;
                    axios.put(url,this.bean).then(function(response){
                        window.location.href = vm.redirect_uri+"?cid=" + vm.category.id;
                    }).catch(function (error){
                        check_error_type(error);
                    });
            }
            }
        });
    });

</script>

<div class="workingArea" id="workingArea">
	<ol class="breadcrumb">
		<li><a href="admin/category">所有分类</a></li>
		<li><a :href="ctx+'admin/property?cid='+category.id">{{category.name}}</a></li>
		<li class="active">编辑属性</li>
	</ol>

	<div class="panel panel-warning editDiv">
		<div class="panel-heading">编辑属性</div>
		<div class="panel-body">
			<!--<form method="post" id="editForm" action="admin_property_update">-->
				<table class="editTable">
					<tr>
						<td>属性名称</td>
						<td><input id="name" name="name" v-model="bean.name"
								   type="text" class="form-control"></td>
					</tr>
					<tr class="submitTR">
						<td colspan="2" align="center">
							<input type="hidden" name="id" v-model="bean.id">
							<input type="hidden" name="cid" v-model="bean.category.id">
							<button type="submit" class="btn btn-success" @click="updateOne">提 交</button></td>
					</tr>
				</table>
			<!--</form>-->
		</div>
	</div>
</div>

<div th:replace="include/admin/adminFooter::html"></div>

</body>
</html>