<!DOCTYPE html>
<!-- 引入thymeleaf模板 -->
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<!-- 以templates为根目录，引用指定thymeleaf模板中名为"html"的内容，但保留当前标签（inclue）。 -->
<head th:include="include/admin/adminHeader::html('分类管理')"></head>
<body>

<!-- 以templates为根目录，用指定thymeleaf模板中名为"html"的内容，替换当前标签（replace） -->
<div th:replace="include/admin/adminNavigator::html"></div>

<script>
    $(function(){
        $("#addForm").submit(function(){
            if(!checkEmpty("name","分类名称"))
                return false;
            if(!checkEmpty("categoryPic","分类图片"))
                return false;
            return true;
        });
    });

    $(function(){
        var data4Vue = {
            uri:'categories',
            pagination:{},//分页bean
            beans:[],     //分页数据列表
            bean: { id: 0, name: ''},
            file: null   //上传文件
        };

        var vm = new Vue({
            el:'#workingArea',
            data: data4Vue,
            /*data:{
                data4Vue: {
                    uri:'categories',
                    beans: []
                }
            },*/
            mounted:function(){
                this.list(0);//在vue实例创建后调用
            },
            methods:{
                list:function(start){
                    var url = this.uri + "?start=" + start;
                    axios.get(url).then(function(response){
                        vm.pagination = response.data;//此处this指代axios，不是vue实例
                        vm.beans = response.data.content;
                    });
                },
                //放在adminHeader.html中的翻页公用组件
                gotoPage:function(page){
                    gotoPage(page,vm);
                },
                /*getFile:function(e){
                    //接收上传文件
                    this.file = this.$refs.finputer.files[0];
                },*/
                getFile:function(event){
                    //接收上传文件
                    this.file = event.target.files[0];
                },
                add:function(){
                    //检查名称、图片是否为空
                    if(!checkEmpty("分类名称",this.bean.name)){
                        return;
                    }
                    if(!checkEmpty("分类图片",this.file)){
                        return;
                    }
                    //axios.js传文件要用FormData
                    var url = this.uri;
                    var formData = new FormData();
                    formData.append("name",this.bean.name);
                    formData.append("image",this.file);
                    axios.post(url,formData).then(function(response){
                        //刷新页面数据
                        vm.list(0);
                        //清空表单
                        vm.file = null;
                        vm.bean = { id: 0, name: ''};
                        $("#categoryPic").val('');
                    }).catch(function (error){
                        if(error && error.response){
                            switch(error.response.status){
                                case 401:
                                    error.message = '未授权，请重新登录';
                                    break;
                                case 403:
                                    error.message = '拒绝访问';
                                    break;
                                case 404:
                                    error.message = '请求错误，未找到该资源';
                                    break;
                                case 408:
                                    error.message = '请求超时';
                                    break;
                                case 500:
                                    error.message = '内部服务错误';
                                    break;
                            }
                            alert(error.message);
                        }
                    });
                }
            }
        })
    });

</script>

<div class="workingArea" id="workingArea">
    <h1 class="label label-info" >分类管理</h1>
    <br>
    <br>

    <div class="listDataTableDiv">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr class="success">
                <th width="5%">ID</th>
                <th width="42%">图片</th>
                <th width="8%">分类名称</th>
                <th width="8%">属性管理</th>
                <th width="8%">产品管理</th>
                <th width="8%">编辑</th>
                <th width="5%">删除</th>
            </tr>
            </thead>
            <tbody>
                <!--<template v-for="c in beans">-->
                    <tr v-for="c in beans">
                        <td>{{c.id}}</td>
                        <td><img height="40px" :src="'img/category/'+c.id+'.jpg'"></td>
                        <td>{{c.name}}</td>
                        <td><a :href="'admin_property_list?cid='+c.id"><span class="glyphicon glyphicon-th-list"></span></a></td>
                        <td><a :href="'admin_product_list?cid='+c.id"><span class="glyphicon glyphicon-shopping-cart"></span></a></td>
                        <td><a :href="'admin_category_edit?id='+c.id"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a deleteLink="true" :href="'admin_category_delete?id='+c.id"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                <!--</template>-->
            </tbody>
        </table>
    </div>

    <!-- 以templates为根目录，用指定thymeleaf模板中名为"html"的内容，替换当前标签（replace） -->
    <div th:replace="include/admin/adminPage::html"></div>

    <div class="panel panel-warning addDiv">
        <div class="panel-heading">新增分类</div>
        <div class="panel-body">
            <!--<form method="post" id="addForm" action="categories" enctype="multipart/form-data">-->
                <table class="addTable">
                    <tr>
                        <td>分类名称</td>
                        <td><input  id="name" name="name" type="text" class="form-control" v-model="bean.name"></td>
                    </tr>
                    <tr>
                        <td>分类图片</td>
                        <td>
                            <!--方法一、ref给元素、组件注册引用，$ref获取元素
                            <input id="categoryPic" accept="image/*" type="file" name="image" ref="finputer" @change="getFile"/>-->
                            <!--方法二、传$event-->
                            <input id="categoryPic" accept="image/*" type="file" name="image" @change="getFile($event)"/>
                        </td>
                    </tr>
                    <tr class="submitTR">
                        <td colspan="2" align="center">
                            <button type="submit" class="btn btn-success" @click="add">提 交</button>
                        </td>
                    </tr>
                </table>
            <!--</form>-->
        </div>
    </div>

</div>


<!-- 以templates为根目录，用指定thymeleaf模板中名为"html"的内容，替换当前标签（replace） -->
<div th:replace="include/admin/adminFooter::html"></div>

</body>
</html>