<!-- 定义名为"html"的模板片段 -->
<div class="searchOutDiv" th:fragment="html">
	<a href="${contextPath}">
		<img id="logo" src="img/site/logo.gif" class="logo">
	</a>

	<form action="foresearch" method="post" >
		<div class="searchDiv">
			<input name="keyword" type="text" placeholder="时尚男鞋  太阳镜 ">
			<button type="submit" class="searchButton">搜索</button>
			<div class="searchBelow">
				<span v-for="(c,index) in cs" v-if="(index+1)>=5 && (index+1)<=8 ">
					<a :href="'forecategory?cid='+c.id">
							{{c.name}}
					</a>
					<span v-if="(index+1)!=8">|</span>
				</span>
			</div>
		</div>
	</form>
</div>